body {
  background: #ddd;
}

table {
  margin-top: 16px;
  padding: 4px 24px 16px;
  border: 1px solid;
  border-collapse: collapse;
  background: #fff;
}

th,
td {
  border: solid 1px #777;
  min-width: 250px;
  padding: 4px;
}

th {
  background-color: rgba(0, 212, 212, 0.863);
}
